Source: runlevel4finit
Section: utils
Priority: optional
Maintainer: frisky-gh <frisky-.-gh@watao3info>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.2
Rules-Requires-Root: no

Package: runlevel4finit
Architecture: all
Depends: ${misc:Depends}
Description: runlevel command for finit environment
 "runlevel" command for finit / tini environment. "runlevel" required from invoke-rc.d script.
